html, body {
	margin: 0px;
	padding: 0px;
	background-color: #3a3a3a;
}

.container-fluid {
	padding-top: 30px!important;
}

#pizza-form {
	margin-bottom: 15px;
}

#pizza-output {
	margin-top: 15px;
}

#pizza-form, #pizza-output {
	background-color: #4e4e4e;
	border-radius: 10px;
	border: 1px solid white;
	padding: 30px;
}

#pizza-form input {
	float: right;
	width: 175px;
}

#pizza-form input:focus {
	background-color: #d0d0d0;
}

#pizza-form label {
	color: white;
}

#pizza-form button {
	width: 100%;
	background-color: black;
	color: white;
	border: none;
	transition: all ease-in-out .2s;
}

#pizza-form button:hover {
	background-color: white;
	color: black;
}

#pizza-form button:active {
	background-color: #d0d0d0;
	color: black;
}

.left-panel, .middle-panel, .right-panel {
	color: white;
}

#title-text {
	color: white;
	font-size: 300%;
	text-align: center;
	padding-bottom: 30px;
}